.header-component {
  background-color:  #445fa4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
 font-size: 66px;
}

.content {
  font-size: 15px;
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Image {
  border: solid 1px #445fa4;
}

.circle {
  background: white;
  background-image: url('../HeaderComponent/Selector.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 2em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}